pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

.ticket {
  font-size: 15px;
  color: #367fa9;
}

.time {
  font-size: 15px;
  color: #367fa9;
}

label {
  font-size: 18px;
  color: #367fa9;
}

form {
  margin: 20px 0px;
}

#rDebug {
  display: none;
}

select {
  padding: 13px 20px;
  border-radius: 20px;
  font-size: 17px;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 15px 2px #e8e8e8;
  margin-top: 20px;
}

.pulse:hover, .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

input[type="number"] {
  padding: 13px 20px;
  font-size: 17px;
  border-radius: 20px;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 15px 2px #e8e8e8;
  margin: 20px 0px 10px 0px
}

input[type="submit"] {
  background-color: #fff;
  color: #367fa9;
  padding: 8px 45px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 0px 15px 2px #e8e8e8;
}

input[type=number]::-webkit-inner-spin-button {
  transition: opacity 0.15s;
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  form {
    text-align: center;
  }
  input[type="number"] {
    text-align: center;
    font-size: 20px;
  }
  select {
    text-align-last: center;
  }
}

.select-css {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.option-group {
  width: 90%;
  max-width: 400px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 0.25em;
  font-size: 4rem;
  margin: 0.2em auto;
  //  will-change: transform;
  transform: translateZ(0);
}

.option-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 120%;
  height: 100%;
  margin: 0 -10%;
}

.option {
  overflow: hidden;
  flex: 1;
  color: white;
  display: block;
  padding: 0.5em;
  background: #367fa9;
  position: relative;
  margin: 0em;
  margin-right: 0.2em;
  &:last-child {
    margin-right: 0;
  }

  border-radius: 0.25em;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  cursor: pointer;

  opacity: 0.5;
  transition-duration: 0.8s, 0.6s;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(.98, 0, .22, .98), linear;
  will-change: transform, opacity;
}

.option__indicator {
  display: block;
  transform-origin: left bottom;
  transition: inherit;
  will-change: transform;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: 0.5em;

  &:before,
  &:after {
    content: '';
    display: block;
    border: solid 2px #64D6EE;
    border-radius: 50%;
    width: 0.25em;
    height: 0.25em;
    position: absolute;
    top: 0;
    right: 0;
  }

  &:after {
    background: #64D6EE;
    transform: scale(0);
    transition: inherit;
    will-change: transform;
  }
}

.option-input {
  position: absolute;
  top: 0;
  z-index: -1;
  visibility: hidden;
}

.option__label {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;

  transform-origin: left bottom;
  transform: translateX(20%) scale(0.7);
  transition: inherit;
  will-change: transform;

  &:after {
    content: '';
    display: block;
    border: solid 2px #64D6EE;
    width: 100%;
    transform-origin: 0 0;
    transform: scaleX(0.2);
    transition: inherit;
    will-change: transform;
  }
}

.option:last-child {
  .option__label {
    transform: translateX(0%) scale(0.7);
  }
  .option__indicator {
    transform: translateX(-20%);
  }
}

.option-input:checked ~ .option {
  transform: translateX(-20%) translateX(0.2em);
  .option__indicator {
    transform: translateX(0%);
  }
  .option__label {
    transform: translateX(40%) scale(0.7);
  }
}

.option-input:first-child:checked ~ .option {
  transform: translateX(20%) translateX(-0.2em);
  .option__indicator {
    transform: translateX(-40%);
  }
  .option__label {
    transform: translateX(0%) scale(0.7);
  }
}

.option-input:nth-child(1):checked ~ .option:nth-of-type(1),
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) {
  opacity: 1;
  .option__indicator {
    transform: translateX(0);
    &::after {
      transform: scale(1);
    }
  }
  .option__label,
  .option__label::after {
    transform: scale(1);
  }
}